*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:blue;
    color:black;
}
#contenedorprincipal{
    background-color: blueviolet;
    width: 100%;
    height:50px;
}
#contenido{
    background-color: aqua;
    width: 100%;
    height:50px;
}
